.right{
    /* From https://css.glass */
background: rgba(24, 24, 24, 0.237);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.283);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.logo{
    background-image: url('../../public/assets/shared/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.navitem:hover{
    cursor: pointer;
    border-bottom:solid 3px rgb(104, 104, 104) ;
}
.sidebar{
    background: rgba(24, 24, 24, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}
.sideitem{
    border-bottom: 0px !important;
}

.close{
    width: 0px;
    transition:all 0.2s;
}
.close>*{
    display:none ; 
}
.open{
    width: 50%;
    transition: all 0.2s ; 
}
